body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

h1{
    font-size: 35px;
}
p{
    color: darkblue;
    font-weight: 400;
}

.arafat{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 2%;
}
#top-image{
    margin-left: 19%;
}

.top-section{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
}

.all_anchors{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: rgb(0, 89, 255);
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(255, 116, 139),rgb(252, 49, 49));
}
.all_anchors:hover{
    color: seagreen;
}

.second-section{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    height: 500px;
    background-position: right;
}